.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.p-0 {
  padding: 0 !important;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.p-1pc {
  padding: 1vh 1vw;
}

.p-2pc {
  padding: 2vh 2vw;
}

.pt-5 {
  padding-top: 5px;
}

.plr-10 {
  padding: 0 10px;
}

.mt-2 {
  margin-top: 2px;
}

.mt-3 {
  margin-top: 3px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mlr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-30 {
  margin-bottom: 30px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.center-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.justed-header {
  padding: 10px 20px !important;
  border: 1px solid rgb(235, 237, 240)
}

.body-has-head {
  position: fixed;
  top: 55px; bottom: 0;
  left: 0; right: 0;
  overflow-y: scroll;
  padding: 5px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.fix-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
}

.fix-top {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 5px;
}

.fix-scroll {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
}

.justify-around {
  display: flex;
  justify-content: space-around;
}

.text-center {
  text-align: center;
}

.desc-preview {
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  padding: 0 1vw;
}