<template>
  <user-layout active="account">
    <div>
      <div style="text-align: center; margin: 10px 0">
        <a-tooltip trigger="click">
          <template slot="title">
            再完成10个任务，即可升为6级！
          </template>
          <h3>
            <a-icon type="crown" theme="filled" style="color: gold"/>&nbsp;等级：{{user.level}}
          </h3>
        </a-tooltip>
        <a-progress type="circle" :percent="user.experience">
          <template #format="percent">
            <a-avatar :size="100" icon="user" :alt="percent.toString()"/>
          </template>
        </a-progress>
        <h2>{{user.username || ''}}</h2>
      </div>
      <a-card v-if="user.jobs" class="mb-10 mlr-5" title="任务" size="small">
        <a slot="extra" @click="$router.push('/community-job/account/jobs')">
          全部&nbsp;<a-icon type="right"/>
        </a>
        <div class="justify-around mt-10">
          <a class="text-center mr-5" style="color: rgba(0, 0, 0, 0.65)"
            @click="$router.push('/community-job/account/jobs?index=1')"
          >
            <a-badge :count="user.jobs.judgingNum">
              <div style="padding: 3vw; border-radius: 4px; background-color: #faad14">
                <a-icon type="file-search" style="font-size: 8vw; color: white"/>
              </div>
            </a-badge>
            <p class="mb-0 mt-2">评分中</p>
          </a>
          <a class="text-center mr-5" style="color: rgba(0, 0, 0, 0.65)"
            @click="$router.push('/community-job/account/jobs?index=2')"
          >
            <a-badge :count="user.jobs.succeedNum">
              <div style="padding: 3vw; border-radius: 4px; background-color: #87d068">
                <a-icon type="file-done" style="font-size: 8vw; color: white"/>
              </div>
            </a-badge>
            <p class="mb-0 mt-2">已完成</p>
          </a>
          <a class="text-center mr-5" style="color: rgba(0, 0, 0, 0.65)"
            @click="$router.push('/community-job/account/jobs?index=3')"
          >
            <a-badge :count="user.jobs.failedNum">
              <div style="padding: 3vw; border-radius: 4px; background-color: #f50">
                <a-icon type="exception" style="font-size: 8vw; color: white"/>
              </div>
            </a-badge>
            <p class="mb-0 mt-2">已失败</p>
          </a>
        </div>
      </a-card>
      <a-card v-if="user.asset" class="mb-10 mlr-5" title="资产" size="small">
        <a slot="extra" @click="$router.push('/community-job/account/asset')">
          详细&nbsp;<a-icon type="right"/>
        </a>
        <div class="justify-around mt-10">
          <a class="text-center mr-5" style="color: rgba(0, 0, 0, 0.65)"
            @click="$router.push('/community-job/account/asset')"
          >
            <div style="padding: 3vw; border-radius: 4px; background-color: #2db7f5">
              <a-icon type="wallet" style="font-size: 8vw; color: white"/>
            </div>
            <p class="mb-0 mt-2">余额: {{user.balance || 0}}</p>
          </a>
          <a class="text-center mr-5" style="color: rgba(0, 0, 0, 0.65)"
            @click="$router.push('/community-job/account/asset?index=1')"
          >
            <a-badge :count="user.asset.inputNum">
              <div style="padding: 3vw; border-radius: 4px; background-color: #52c41a">
                <a-icon type="money-collect" style="font-size: 8vw; color: white"/>
              </div>
            </a-badge>
            <p class="mb-0 mt-2">进账</p>
          </a>
          <a class="text-center mr-5" style="color: rgba(0, 0, 0, 0.65)"
            @click="$router.push('/community-job/account/asset?index=2')"
          >
            <a-badge :count="user.asset.outputNum">
              <div style="padding: 3vw; border-radius: 4px; background-color: #108ee9">
                <a-icon type="shopping-cart" style="font-size: 8vw; color: white"/>
              </div>
            </a-badge>
            <p class="mb-0 mt-2">出账</p>
          </a>
        </div>
      </a-card>
      <a-card v-if="user.orders" class="mb-10 mlr-5" title="订单" size="small">
        <a slot="extra" @click="$router.push('/community-job/account/tickets')">
          全部&nbsp;<a-icon type="right"/>
        </a>
        <div class="justify-around mt-10">
          <a class="text-center mr-5" style="color: rgba(0, 0, 0, 0.65)"
            @click="$router.push('/community-job/account/tickets?index=1')"
          >
            <a-badge :count="user.orders.unuses.length">
              <div style="padding: 3vw; border-radius: 4px; background-color: #d3adf7">
                <a-icon type="book" style="font-size: 8vw; color: white"/>
              </div>
            </a-badge>
            <p class="mb-0 mt-2">兑换券</p>
          </a>
          <a class="text-center mr-5" style="color: rgba(0, 0, 0, 0.65)"
            @click="$router.push('/community-job/account/tickets?index=2')"
          >
            <a-badge :count="user.orders.useds.length">
              <div style="padding: 3vw; border-radius: 4px; background-color: #cdcdcd">
                <a-icon type="check-circle" style="font-size: 8vw; color: white"/>
              </div>
            </a-badge>
            <p class="mb-0 mt-2">已兑换</p>
          </a>
        </div>
      </a-card>
      <a-card class="mb-10 mlr-5" title="个人信息" size="small">
        <a slot="extra" href="#">
          完善&nbsp;<a-icon type="setting"/>
        </a>
        <a-descriptions>
          <a-descriptions-item>
            <span slot="label" style="font-weight: bold">
              <a-icon type="phone"/>&nbsp;手机号
            </span>
            {{user.phone}}
          </a-descriptions-item>
          <a-descriptions-item v-if="user.address">
            <span slot="label" style="font-weight: bold">
              <a-icon type="home"/>&nbsp;居住地址
            </span>
            {{user.address}}
          </a-descriptions-item>
          <a-descriptions-item v-if="user.company">
            <span slot="label" style="font-weight: bold">
              <a-icon type="laptop"/>&nbsp;工作单位
            </span>
            {{user.company}}
          </a-descriptions-item>
        </a-descriptions>
      </a-card>
    </div>
  </user-layout>
</template>

<script>
import UserLayout from '../components/UserLayout'
import utils from '../commons/utils'
export default {
  components: {
    'user-layout': UserLayout
  },
  data () {
    return {
      user: this.$store.state.lgnUser
    }
  },
  async created () {
    await this.$store.dispatch('REFRESH_LGN_USER')
    const user = this.$store.state.lgnUser
    const results = await utils.reqBack(this, '/community-job/mdl/v1/results', 'get', {
      params: { user: user._id }
    })
    user.jobs = {
      judgingNum: results.filter(res => res.status === '评分中').length,
      succeedNum: results.filter(res => res.status === '已完成').length,
      failedNum: results.filter(res => res.status === '已失败').length,
    }
    user.asset = {
      inputNum: user.inputs.length || 0,
      outputNum: user.outputs.length || 0
    }
    user.orders = {
      unuses: user.tickets.filter(tkt => tkt.status === '未使用'),
      useds: user.tickets.filter(tkt => tkt.status === '已使用'),
    }
    console.log(user)
    this.user = user
  }
}
</script>

<style>
.balance-btn {
  width: 33.33%;
  height: 10vh;
  border-radius: 0 !important;
}
</style>

