<template>
  <adm-layout activekey="Ticket">
    <a-page-header
      style="border-bottom: 1px solid rgb(235, 237, 240)"
      title="回到列表"
      :sub-title="subTitle"
      @back="$router.go(-1)"
    />
    <div style="posiiton: absolute; top: 66px; left: 0; right: 0">
      <form-edt-ticket :onFormSubmitted="onFormSubmitted"/>
    </div>
  </adm-layout>
</template>

<script>
import FormEdtTicket from '../components/FormEdtTicket'
import {reqBack} from '../commons/utils'
import AdmLayout from '../components/AdmLayout'
export default {
  components: {
    'adm-layout': AdmLayout,
    'form-edt-ticket': FormEdtTicket
  },
  data () {
    return {
      subTitle: '新增点券'
    }
  },
  created () {
    if (this.$route.query.tktId) {
      this.subTitle = '修改点券'
    }
  },
  methods: {
    async onFormSubmitted (form) {
      let result = null
      if (!this.$route.query.tktId) {
        result = await reqBack(this, '/community-job/mdl/v1/ticket', 'post', form)
        this.$message.success('点券创建成功')
      } else {
        result = await reqBack(this, `/community-job/mdl/v1/ticket/${this.$route.query.tktId}`, 'put', form)
        this.$message.success('点券修改成功')
      }
      console.log(result)
      this.$router.push('/community-job/admin/vwTickets')
    }
  }
}
</script>

