<template>
  <adm-layout activekey="Job">
    <a-page-header
      style="border-bottom: 1px solid rgb(235, 237, 240)"
      title="回到列表"
      :sub-title="subTitle"
      @back="$router.go(-1)"
    />
    <div style="posiiton: absolute; top: 66px; left: 0; right: 0">
      <form-pub-job :onFormSubmitted="onFormSubmitted"/>
    </div>
  </adm-layout>
</template>

<script>
import FormPubJob from '../components/FormPubJob'
import {reqBack} from '../commons/utils'
import AdmLayout from '../components/AdmLayout'
export default {
  components: {
    'form-pub-job': FormPubJob,
    'adm-layout': AdmLayout
  },
  data () {
    return {
      subTitle: '新增任务'
    }
  },
  created () {
    if (this.$route.query.jobId) {
      this.subTitle = '修改任务'
    }
  },
  methods: {
    async onFormSubmitted (form) {
      let result = null
      const path = '/community-job/mdl/v1/job'
      if (this.$route.query.jobId) {
        delete form._id
        result = await reqBack(this, `${path}/${this.$route.query.jobId}`, 'put', form)
      } else {
        result = await reqBack(this, path, 'post', Object.assign(form, {proccess: 0}))
      }
      console.log(result)
      this.$message.success('任务创建成功')
      this.$router.push('/community-job/admin/vwJobs')
    }
  }
}
</script>
