<template>
  <div class="center-container" style="width: 95%">
    <a-form :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }" :form="form" @submit="onLoginSubmitted">
      <a-form-item label="账户名">
        <a-input placeholder="输入账户名"
          v-decorator="['username', {
            rules: [{ required: true, message: '请输入账户名!' }],
          }]"
        />
      </a-form-item>
      <a-form-item label="密码">
        <a-input type="password" placeholder="输入密码"
          v-decorator="['password', {
            rules: [{ required: true, message: '请输入密码!' }]
          }]"
        />
      </a-form-item>
      <a-form-item :wrapper-col="{ span: 16, offset: 8 }">
        <a-checkbox
          v-decorator="['remember', {
            valuePropName: 'checked',
            initialValue: true,
          }]"
        >记住账户</a-checkbox>
      </a-form-item>
      <a-form-item :wrapper-col="{ span: 16, offset: 8 }">
        <a-button type="primary" html-type="submit">登录</a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
import {reqBack} from '../commons/utils'
export default {
  beforeCreate () {
    this.form = this.$form.createForm(this, { name: 'admin' })
  },
  created () {
    if (this.$route.query.error) {
      this.$notification.error({
        message: '登录状态错误',
        description: this.$route.query.error
      })
    }
  },
  methods: {
    onLoginSubmitted (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (err) {
          this.$notification.error({
            message: '登录信息错误',
            description: err.message || JSON.stringify(err)
          })
          return
        }
        const path = '/community-job/api/v1/admin/log/in'
        const result = await reqBack(this, path, 'post', values)
        this.$store.commit('SET_AUTH_TKN', result.token)
        this.$store.commit('SET_LGN_USR', result.logined)
        this.$message.success(result.message)
        this.$router.push(this.$route.query.redirect || '/community-job/admin/vwJobs')
      })
    }
  }
}
</script>

