<template>
  <adm-layout activekey="Ticket">
    <div class="fix-scroll p-5" style="top: 88px; bottom: 66px; left: 216px; right: 16px">
      <a-row :gutter="16">
        <a-col :span="8" v-for="ticket in tickets" :key="ticket._id">
          <a-card hoverable>
            <img slot="cover" :src="ticket.cover" @click="onTicketClicked(ticket._id)"/>
            <a-card-meta :title="ticket.name" @click="onTicketClicked(ticket._id)">
              <template slot="description">
                <a-descriptions :column="2">
                  <a-descriptions-item label="价格">{{ticket.price}}</a-descriptions-item>
                  <a-descriptions-item label="库存">{{ticket.left || 0}} / {{ticket.number}}</a-descriptions-item>
                  <a-descriptions-item label="优惠活动">
                    <ul class="list-unstyled mb-0">
                      <li v-for="pref in ticket.preferences" :key="JSON.stringify(pref)">
                        【{{pref.title}}】{{pref.desc}}
                      </li>
                    </ul>
                  </a-descriptions-item>
                </a-descriptions>
              </template>
            </a-card-meta>
            <template slot="actions" class="ant-card-actions">
              <a-badge :dot="ticket.messages.filter(msg => !msg.reply).length !== 0">
                <a-icon key="message" type="message" @click="
                  $router.push(`/community-job/admin/vwTktMsgs?tktId=${ticket._id}`)
                "/>
              </a-badge>
              <a-icon key="delete" type="delete" @click="onDelTktClicked(ticket._id)"/>
            </template>
          </a-card>
        </a-col>
      </a-row>
    </div>
    <div class="fix-bottom" style="left: 216px; right: 16px; bottom: 24px">
      <a-button type="primary" block @click="$router.push('/community-job/admin/addTicket')">创建点券</a-button>
    </div>
  </adm-layout>
</template>

<script>
import utils from '../commons/utils'
import AdmLayout from '../components/AdmLayout'
export default {
  components: {
    'adm-layout': AdmLayout
  },
  data () {
    return {
      utils,
      tickets: []
    }
  },
  created () {
    this.refreshList()
  },
  methods: {
    async refreshList () {
      this.tickets = await utils.reqBack(this, '/community-job/mdl/v1/tickets', 'get')
    },
    onDelTktClicked (tktId) {
      const self = this
      this.$confirm({
        title: '确定删除该点券？',
        async onOk() {
          await utils.reqBack(self, `/community-job/mdl/v1/ticket/${tktId}`, 'delete')
          self.$message.success('点券删除成功！')
          return self.refreshList()
        },
      })
    },
    onTicketClicked (tktId) {
      this.$router.push(`/community-job/admin/addTicket?tktId=${tktId}`)
    }
  }
}
</script>

