<template>
  <adm-layout activekey="Ticket">
    <a-page-header
      style="border-bottom: 1px solid rgb(235, 237, 240)"
      title="回到列表"
      @back="$router.go(-1)"
    />
    <div class="plr-10">
      <a-list item-layout="horizontal" :data-source="messages">
        <a-list-item slot="renderItem" slot-scope="message, index">
          <a-list-item-meta :description="message.createdAt">
            <span slot="title"><b>{{ message.author }}</b>：{{message.content}}</span>
            <a-avatar slot="avatar" icon="user"/>
          </a-list-item-meta>
          <div v-if="message.reply">
            <p class="mb-0">回复：{{message.reply}}</p>
            <p class="mb-0" style="font-size: 10pt; color: grey">{{message.repliedAt}}</p>
          </div>
          <a slot="actions" v-if="replyIdx !== index" @click="replyIdx = index">回复</a>
          <div slot="actions" v-else>
            <a-form :form="replyForm" layout="inline" @submit="onReplySubmit">
              <a-form-item>
                <a-input placeholder="输入回复信息" v-decorator="['reply', {
                  rules: [{ required: true, message: '请上传点券封面' }]
                }]"/>
              </a-form-item>
              <a-form-item>
                <a-button type="primary" html-type="submit">提交</a-button>
                <a-button class="ml-5" @click="replyIdx = -1">取消</a-button>
              </a-form-item>
            </a-form>
          </div>
        </a-list-item>
      </a-list>
    </div>
  </adm-layout>
</template>

<script>
import {reqBack} from '../commons/utils'
import AdmLayout from '../components/AdmLayout'
export default {
  components: {
    'adm-layout': AdmLayout
  },
  data () {
    return {
      messages: [],
      replyIdx: -1,
    }
  },
  beforeCreate () {
    this.replyForm = this.$form.createForm(this, { name: 'reply' })
  },
  created () {
    this.refresh()
  },
  methods: {
    async refresh () {
      const path = `/community-job/mdl/v1/ticket/${this.$route.query.tktId}`
      const ticket = (await reqBack(this, path, 'get'))[0]
      this.messages = ticket.messages
    },
    onReplySubmit (e) {
      e.preventDefault()
      this.replyForm.validateFields(async (err, values) => {
        if (err) {
          console.log('验证回复表信息错误', err)
          return
        }
        console.log('Received values of form: ', values)
        const path = [
          '/community-job/api/v1/ticket/',
          this.$route.query.tktId,
          '/message/',
          this.messages[this.replyIdx]._id,
          '/reply'
        ].join('')
        console.log(await reqBack(this, path, 'post', values))
        this.$message.success('留言回复成功！')
        this.replyIdx = -1
      })
    }
  }
}
</script>

