<template>
  <adm-layout activekey="Job">
    <div class="fix-scroll p-5" style="top: 88px; bottom: 66px; left: 216px; right: 16px">
      <a-list item-layout="horizontal" :data-source="jobs">
        <a-list-item slot="renderItem" slot-scope="job">
          <a-list-item-meta :description="job.intro">
            <a slot="title" @click="$router.push(`/community-job/admin/addJob?jobId=${job._id}`)">
              {{ job.name }}
            </a>
            <a v-if="job.qrCode" slot="avatar">
              <a-avatar shape="square" :src="job.qrCode" size="large"/>
            </a>
            <a-avatar v-else slot="avatar" shape="square" size="large" icon="qrcode"/>
          </a-list-item-meta>
          <ul class="list-unstyled">
            <li><a-icon type="dollar"/>&nbsp;奖励：{{job.rewards}}</li>
            <li><a-icon type="schedule"/>&nbsp;持续时间：{{job.duration[0]}}~{{job.duration[1]}}</li>
            <li>
              <a-icon type="gold"/>&nbsp;完成度：
              <a-progress :percent="utils.round(job.proccess / job.number * 100, 2)"/>
            </li>
          </ul>
          <a slot="actions" @click="onDelJobClicked(job._id)">删除</a>
        </a-list-item>
      </a-list>
    </div>
    <div class="fix-bottom" style="left: 216px; right: 16px; bottom: 24px">
      <a-button type="primary" block @click="$router.push('/community-job/admin/addJob')">添加任务</a-button>
    </div>
  </adm-layout>
</template>

<script>
import utils from '../commons/utils'
import AdmLayout from '../components/AdmLayout'
export default {
  components: {
    'adm-layout': AdmLayout
  },
  data () {
    return {
      utils,
      jobs: []
    }
  },
  created () {
    this.refreshList()
  },
  methods: {
    async refreshList () {
      const result = await utils.reqBack(this, '/community-job/api/v1/jobs', 'get')
      this.jobs = result.map(item => Object.assign(item, {
        duration: [
          new Date(item.duration[0]).toLocaleDateString('en-US'),
          new Date(item.duration[1]).toLocaleDateString('en-US')
        ]
      }))
    },
    onDelJobClicked (jobId) {
      const self = this
      this.$confirm({
        title: '确定删除该任务？',
        content: '任务一旦删除，完成度将清零，但已完成的用户奖励不会变动！',
        async onOk() {
          await utils.reqBack(self, `/community-job/mdl/v1/job/${jobId}`, 'delete')
          self.$message.success('任务删除成功！')
          return self.refreshList()
        },
      })
    }
  }
}
</script>

