<template>
  <div>
    <a-page-header
      style="border: 1px solid rgb(235, 237, 240); padding: 10px 20px"
      :title="ticket.name"
      sub-title="确认订单"
      @back="$router.push(`/community-job/ticket?tktId=${$route.query.tktId}`)"
    />
    <a-card title="订单详情" :bordered="false" size="small"
      :headStyle="{'border-radius': 0}"
      :bodyStyle="{'border-radius': 0, 'padding': 0}"
      class="fix-scroll" style="top: 55px; bottom: 42px"
    >
      <a-row style="padding: 7px 10px; background: rgba(240, 240, 240, 0.5)">
        <a-col :span="4">
          <a-avatar shape="square" size="large" icon="user"/>
        </a-col>
        <a-col>
          <h3 class="mb-0">{{ticket.name}}</h3>
          <p class="mb-0">
            <a-icon type="pay-circle"/>&nbsp;{{ticket.price}}
            <span style="float: right">x{{$route.query.number}}</span>
          </p>
        </a-col>
      </a-row>
      <a-descriptions class="no-radius-dsc" bordered :column="1" size="small">
        <a-descriptions-item label="账户余额">{{$store.state.lgnUser.balance || 0}}</a-descriptions-item>
        <a-descriptions-item label="总费用">-{{ticket.price * $route.query.number}}</a-descriptions-item>
      </a-descriptions>
      <div style="padding: 5px 12px">
        <a-form-item label="订单备注">
          <a-textarea
            v-model="remark"
            placeholder="输入备注（可选）"
            :auto-size="{ minRows: 3, maxRows: 5 }"
          />
        </a-form-item>
      </div>
    </a-card>
    <div class="fix-bottom">
      <a-button style="float: right" type="primary" @click="onOrderSubmit">确定</a-button>
    </div>
  </div>
</template>

<script>
import {reqBack} from '../commons/utils'
import MD from 'markdown-it'
export default {
  data () {
    return {
      ticket: {},
      remark: ''
    }
  },
  async created () {
    const path = `/community-job/mdl/v1/ticket/${this.$route.query.tktId}`
    this.ticket = (await reqBack(this, path, 'get'))[0]
    this.ticket.descHTML = MD().render(this.ticket.desc)
    await this.$store.dispatch('REFRESH_LGN_USER')
  },
  methods: {
    onOrderSubmit () {
      const self = this
      this.$confirm({
        title: '确定兑换改点券吗?',
        content: '兑换成功之后点券不能退换，余额也不再更改！',
        async onOk() {
          const result = await reqBack(self, '/community-job/api/v1/order', 'post', {
            ticket: self.$route.query.tktId,
            user: self.$store.state.lgnUser._id,
            number: self.$route.query.number,
            cost: self.ticket.price * self.$route.query.number,
            remark: self.remark,
            status: '未使用'
          })
          self.$message.success('下单成功！')
          self.$router.push(`/community-job/order/success?oid=${result[0]._id}`)
          return Promise.resolve()
        }
      })
    }
  }
}
</script>

<style>
.no-radius-dsc .ant-descriptions-view {
  border-radius: 0 !important;
}
</style>
