<template>
  <div>
    <a-page-header
      class="justed-header"
      :title="current.name"
      @back="$router.go(-1)"
    />
    <div class="body-has-head">
      <div v-html="current.descHTML">{{current.descHTML}}</div>
      <img v-if="current.qrCode"
        :src="current.qrCode"
        style="width: 100%; height: auto"
        alt="点击扫描"
      />
      <a-button v-if="current.acceptable" block
        type="primary" @click="onSbtResultClicked"
      >提交完成结果</a-button>
    </div>
  </div>
</template>

<script>
import MD from 'markdown-it'
import {reqBack} from '../commons/utils'
export default {
  data () {
    return {
      md: MD(),
      current: {}
    }
  },
  async created () {
    const path = `/community-job/mdl/v1/job/${this.$route.query.jobId}`
    const results = await Promise.all([
      reqBack(this, path, 'get'),
      reqBack(this, '/community-job/mdl/v1/results', 'get', {
        params: {
          'job': this.$route.query.jobId,
          'user': this.$store.state.lgnUser._id
        }
      })
    ])
    console.log(results)
    this.current = results[0][0]
    this.current.descHTML = this.md.render(this.current.desc)
    if (!this.current.repeatable) {
      this.current.acceptable = results[1].length === 0 
    } else {
      this.current.acceptable = true
    }
  },
  methods: {
    onSbtResultClicked () {
      this.$router.push(`/community-job/sbtResult?jobId=${this.$route.query.jobId}`)
    }
  }
}
</script>
