<template>
  <user-layout active="jobs">
    <a-tabs :tabBarStyle="{'margin-bottom': '0', 'text-align': 'center'}" default-active-key="acceptable">
      <a-tab-pane key="acceptable" tab="可接受" style="padding: 5px; background: rgba(240, 240, 240, 0.5)">
        <a-card v-for="job in jobs" :key="job._id" hoverable class="w-100 mb-5" :title="job. name"
          :bodyStyle="{'padding-bottom': '10px'}" @click="onJobClicked(job._id)"
        >
          <span slot="actions"><a-icon type="dollar"/>&nbsp;奖励：{{job.rewards}}</span>
          <span slot="actions"><a-icon type="schedule"/>&nbsp;截止：{{job.duration[1]}}</span>
          <span slot="extra">
            <a-tag :color="colors[job.status]">{{job.status}}</a-tag>
          </span>
          <a-card-meta :description="job.intro">
            <img v-if="job.qrCode" slot="avatar" :src="job.qrCode" style="width: 100px; height: 100px"/>
          </a-card-meta>
          <a-row class="w-100 mt-15" type="flex" style="color: rgba(0, 0, 0, 0.45)">
            <a-col flex="60px"><a-icon type="gold"/>&nbsp;剩余：</a-col>
            <a-col flex="auto">
              <a-progress
                style="width: 90%"
                :percent="utils.round(job.proccess / job.number * 100, 2)"
                :format="() => `${job.proccess} / ${job.number}`"
              />
            </a-col>
          </a-row>
        </a-card>
      </a-tab-pane>
      <a-tab-pane key="completed" tab="已完成">
        Content of Tab Pane 2
      </a-tab-pane>
    </a-tabs>
  </user-layout>
</template>

<script>
import UserLayout from '../components/UserLayout'
import utils from '../commons/utils'
export default {
  components: {
    'user-layout': UserLayout
  },
  data () {
    return {
      utils,
      jobs: [],
      colors: {
        '可接': '#87d068',
        '已提交': '#108ee9'
      }
    }
  },
  created () {
    this.refreshList()
  },
  methods: {
    async refreshList () {
      const result = await utils.reqBack(this, '/community-job/api/v1/jobs', 'get', {
        params: { uid: this.$store.state.lgnUser._id }
      })
      this.jobs = result.map(item => Object.assign(item, {
        proccess: item.proccess || 0,
        duration: [
          new Date(item.duration[0]).toLocaleDateString('en-US'),
          new Date(item.duration[1]).toLocaleDateString('en-US'),
        ]
      }))
    },
    onJobClicked (jobId) {
      this.$router.push(`/community-job/jobDetail?jobId=${jobId}`)
    }
  }
}
</script>
