<template>
  <div style="padding: 0 3vw; height: 100%">
    <a-tabs style="width: 100%" :activeKey="actTab"
      :tabBarStyle="{textAlign: 'center'}"
      @change="(actKey) => {actTab = actKey}"
    >
      <a-tab-pane key="login" tab="登录">
        <a-form
          :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }"
          :form="lgnForm" @submit="onLoginSubmitted"
        >
          <a-form-item label="账户名/手机号">
            <a-input placeholder="输入手机号或账户名"
              v-decorator="['account', {
                rules: [{ required: true, message: '请输入手机号或账户名!' }],
              }]"
            />
          </a-form-item>
          <a-form-item label="密码">
            <a-input type="password" placeholder="输入密码"
              v-decorator="['password', {
                rules: [{ required: true, message: '请输入密码!' }]
              }]"
            />
          </a-form-item>
          <a-form-item>
            <a-checkbox
              v-decorator="['remember', {
                valuePropName: 'checked',
                initialValue: true,
              }]"
            >记住账户密码</a-checkbox>
          </a-form-item>
          <a-form-item :wrapper-col="{ span: 16, offset: 4 }">
            <a-button type="primary" html-type="submit">登录</a-button>
            &nbsp;没有账户？前往<a @click="actTab = 'regup'">注册</a>！
          </a-form-item>
        </a-form>
      </a-tab-pane>
      <a-tab-pane key="regup" tab="注册">
        <a-form
          :label-col="{ span: 8 }" :wrapper-col="{ span: 16 }"
          :form="rgpForm" @submit="onRegupSubmitted"
        >
          <a-form-item label="手机号" style="margin-bottom: 5px">
            <a-input-group compact>
              <a-input placeholder="输入手机号" style="width: 55%"
                v-decorator="['phone', {
                  rules: [{ required: true, message: '请输入手机号!' }],
                }]"
              />
              <a-button style="width: 45%">发送验证码</a-button>
            </a-input-group>
          </a-form-item>
          <a-form-item>
            <a-input placeholder="输入短信验证码"
              v-decorator="['smsVfcode', {
                rules: [{ required: true, message: '请输入短信验证码!' }],
              }]"
            />
          </a-form-item>
          <a-form-item label="账户名">
            <a-input placeholder="输入账户名（可选）"
              v-decorator="['username']"
            />
          </a-form-item>
          <a-form-item label="密码" style="margin-bottom: 5px">
            <a-input type="password" placeholder="输入密码"
              v-decorator="['password', {
                rules: [
                  { required: true, message: '请输入密码!' },
                  { validator: validateToNextPassword },
                ]
              }]"
            />
          </a-form-item>
          <a-form-item>
            <a-input type="password" placeholder="再次输入密码"
              v-decorator="['confirm', {
                rules: [
                  { required: true, message: '请再次输入密码用于确认!' },
                  { validator: compareToFirstPassword },
                ]
              }]"
            />
          </a-form-item>
          <a-form-item label="人工验证码">
            <a-input-group>
              <a-row :gutter="2">
                <a-col :span="16">
                  <a-input class="input-with-vfcode" placeholder="输入验证码" v-decorator="['vfCode', {
                    rules: [
                      { required: true, message: '请人工验证码!' },
                      { validator: validVerfCode },
                    ]
                  }]"/>
                </a-col>
                <a-col :span="8">
                  <verf-code-img ref="verf-code-img"
                    width="100" height="32"
                    diff="low"
                    :onRefresh="onVfCdRefsh"
                  />
                </a-col>
              </a-row>
            </a-input-group>
          </a-form-item>
          <a-divider>个人信息</a-divider>
          <a-alert class="mb-10" type="info" message="选填，填写完整可解锁更多任务" banner/>
          <a-form-item label="个人" style="margin-bottom: 5px">
            <a-input placeholder="真实姓名" v-decorator="['realname']"/>
          </a-form-item>
          <a-form-item>
            <a-input placeholder="身份证号码" v-decorator="['idCard']"/>
          </a-form-item>
          <a-form-item label="居住地址" style="margin-bottom: 5px">
            <a-cascader :options="regup.addrPfxOpns" placeholder="选择居住省市" v-decorator="[
              'province', { rules: [{ type: 'array' }] }
            ]"/>
          </a-form-item>
          <a-form-item>
            <a-input placeholder="输入详细地址（具体到门牌号）" v-decorator="['address']"/>
          </a-form-item>
          <a-form-item label="工作单位" style="margin-bottom: 5px">
            <a-input placeholder="输入单位名称（营业执照名）" v-decorator="['company']"/>
          </a-form-item>
          <a-form-item>
            <a-input placeholder="输入单位地址" v-decorator="['wkAddress']"/>
          </a-form-item>
          <input type="file" capture="camera"/>
          <a-form-item>
            <a-checkbox :checked="regup.loginImmd" @change="e => {regup.loginImmd = e.target.checked}">
              注册完毕直接登录
            </a-checkbox>
            <a-button type="primary" html-type="submit" block>注册</a-button>
          </a-form-item>
        </a-form>
      </a-tab-pane>
    </a-tabs>
  </div>
</template>

<script>
import addresses from '../commons/addresses.json'
import utils from '../commons/utils'
import VerfCode from '../components/VerfCode'
export default {
  components: {
    'verf-code-img': VerfCode
  },
  data () {
    return {
      actTab: 'login',
      regup: {
        addrPfxOpns: [],
        loginImmd: true
      }
    }
  },
  beforeCreate () {
    this.lgnForm = this.$form.createForm(this, { name: 'login' })
    this.rgpForm = this.$form.createForm(this, { name: 'regup' })
  },
  created () {
    this.regup.addrPfxOpns = this.buildAddrOpns('00')
  },
  methods: {
   async userLogin (phone, password) {
      const lgnPath = '/community-job/api/v1/user/log/in'
      const result = await utils.reqBack(this, lgnPath, 'post', {phone, password})
      this.$store.commit('SET_AUTH_TKN', result.token)
      this.$store.commit('SET_LGN_USR', result.logined)
      this.$message.success('登录成功！')
      this.rgpForm.resetFields()
      this.$router.push(this.$route.query.redirect || '/community-job/jobs')
    },
    onLoginSubmitted (e) {
      e.preventDefault()
      this.lgnForm.validateFields((err, values) => {
        if (err) {
          console.log('注册数据有误：', JSON.stringify(err))
          return
        }
        console.log('Received values of form: ', values)
        this.userLogin(values.account, values.password)
      })
    },
    onRegupSubmitted (e) {
      const self = this
      e.preventDefault()
      this.rgpForm.validateFields(async (err, values) => {
        if (err) {
          console.log('注册数据有误：', JSON.stringify(err))
          return
        }
        console.log('Received values of form: ', values)
        const rgpPath = '/community-job/api/v1/user/reg/up'
        try {
          await utils.reqBack(self, rgpPath, 'post', Object.assign({
            inputs: [], outputs: [], level: 1, experience: 0
          }, values))
        } catch (_err) {
          return
        }
        self.$message.success('注册成功！')
        if (!self.regup.loginImmd) {
          self.actTab = 'login'
          return
        }
        self.userLogin(values.phone, values.password)
      })
    },
    buildAddrOpns (rootKey) {
      let array = []
      for (const [key, value] of Object.entries(addresses[rootKey])) {
        let option = {
          label: value, value,
        }
        array.push(option)
        if (!addresses[key]) {
          continue
        }
        option.children = this.buildAddrOpns(key)
      }
      return array
    },
    compareToFirstPassword(rule, value, callback) {
      if (value && value !== this.rgpForm.getFieldValue('password')) {
        callback('重复的密码和第一次输入的不一致!')
      } else {
        callback()
      }
    },
    validateToNextPassword(rule, value, callback) {
      if (value) {
        this.rgpForm.validateFields(['confirm'], { force: true })
      }
      callback()
    },
    validVerfCode (rule, value, callback) {
      if (value !== this.$refs['verf-code-img'].cdInfo.code) {
        callback('人工验证码错误!')
      } else {
        callback()
      }
    },
    onVfCdRefsh () {
      this.rgpForm.validateFields(['vfCode'], {force: true})
    }
  }
}
</script>
