<template>
  <div>
    <a-page-header
      class="justed-header"
      title="我的资产明细"
      @back="$router.push('/community-job/account')"
    />
    <div style="padding: 5px 10px">
      <div class="justify-around">
        <template v-for="(tab, index) in topTabs">
          <a-button :key="tab.title" :style="tab.checked
            ? `color: white; background-color: ${tab.color}`
            : `border-color: ${tab.color}; color: ${tab.color}; background-color: ${tab.color}25`"
            block @click="onTopTabClicked(index)"
          >{{tab.title}}</a-button>
          <a-divider :key="index" v-if="index !== topTabs.length - 1" type="vertical" class="h-100"/>
        </template>
      </div>
    </div>
    <div class="p-5 fix-scroll" style="top: 97px">
      <a-list item-layout="horizontal" :data-source="transactions">
        <a-list-item slot="renderItem" slot-scope="tx">
          <a-list-item-meta :description="tx.time">
            <p slot="title" class="mb-0">来源：{{tx.source}}</p>
            <a-avatar slot="avatar" shape="square" :icon="tx.icon" :style="{
              marginTop: '4px',
              backgroundColor: tx.icon === 'import' ? '#52c41a' : '#108ee9',
              verticalAlign: 'middle'
            }" size="large"/>
          </a-list-item-meta>
          <div style="font-size: 13pt">
            {{(tx.icon === 'import' ? '+' : '-') + tx.amount}}
            &nbsp;<a-icon type="pay-circle" style="color: gold"/>
          </div>
        </a-list-item>
      </a-list>
    </div>
  </div>
</template>

<script>
import {reqBack} from '../commons/utils'
export default {
  data () {
    return {
      topTabs: [{
        title: '全部', checked: false, color: '#2db7f5'
      }, {
        title: '进账', checked: false, color: '#52c41a'
      }, {
        title: '出账', checked: false, color: '#108ee9'
      }],
      transactions: [],
      inputs: [],
      outputs: []
    }
  },
  async created () {
    const lgnId = this.$store.state.lgnUser._id
    const path = '/community-job/mdl/v1/transactions'
    this.outputs = (await reqBack(this, path, 'get', {
      params: { 'from': lgnId }
    })).map(tx => Object.assign({icon: 'export'}, tx))
    this.inputs = (await reqBack(this, path, 'get', {
      params: { 'to': lgnId }
    })).map(tx => Object.assign({icon: 'import'}, tx))
    this.onTopTabClicked(this.$route.query.index || 0)
  },
  methods: {
    onTopTabClicked (index) {
      this.topTabs[index].checked = !this.topTabs[index].checked
      if (index === 0) {
        for (let idx = 1; idx < this.topTabs.length; ++idx) {
          this.topTabs[idx].checked = this.topTabs[index].checked
        }
      } else if(!this.topTabs[index].checked) {
        this.topTabs[0].checked = false
      }
      if (this.topTabs[0].checked) {
        this.transactions = this.outputs.concat(this.inputs)
          .sort((txA, txB) => txA.time < txB.time ? 1 : -1)
      } else if (this.topTabs[1].checked) {
        this.transactions = this.inputs
      } else if (this.topTabs[2].checked) {
        this.transactions = this.outputs
      } else {
        this.transactions = []
      }
    }
  }
}
</script>
