<template>
  <div>
    <a-page-header
      class="justed-header"
      title="我的任务"
      @back="$router.push('/community-job/account')"
    />
    <div style="padding: 5px 10px">
      <div class="justify-around">
        <a-button v-for="(tab, index) in topTabs" :key="tab.title" :style="tab.checked
          ? `color: white; background-color: ${tab.color}`
          : `border-color: ${tab.color}; color: ${tab.color}; background-color: ${tab.color}25`"
          :class="{'mr-5': index !== topTabs.length - 1}" block @click="onTopTabClicked(index)"
        >{{tab.title}}</a-button>
      </div>
    </div>
    <div class="p-5 fix-scroll" style="top: 97px">
      <a-list item-layout="horizontal" :data-source="jobs">
        <a-list-item style="display: block" slot="renderItem" slot-scope="job">
          <a-row>
            <a-col :span="19">{{job.job.name}}<br>{{job.createdAt}}</a-col>
            <a-col :span="5">
              <div :style="{
                padding: '5px 10px',
                'background-color': sttCols[job.status],
                color: 'white',
                'border-radius': '4px',
                float: 'right'
              }">{{job.status}}</div>
            </a-col>
          </a-row>
        </a-list-item>
      </a-list>
    </div>
  </div>
</template>

<script>
import {reqBack} from '../commons/utils'
export default {
  data () {
    return {
      topTabs: [{
        title: '全部', checked: false, color: '#2db7f5'
      }, {
        title: '评分中', checked: false, color: '#faad14'
      }, {
        title: '已完成', checked: false, color: '#87d068'
      }, {
        title: '已失败', checked: false, color: '#ff5500'
      }],
      sttCols: {},
      jobs: [],
      judgings: [],
      succeeds: [],
      faileds: []
    }
  },
  async created () {
    for (const topTab of this.topTabs) {
      this.sttCols[topTab.title] = topTab.color
    }
    const path = '/community-job/mdl/v1/results'
    const myJobs = await reqBack(this, path, 'get', {
      params: { 'user': this.$store.state.lgnUser._id }
    })
    this.judgings = myJobs.filter(job => job.status === '评分中')
    this.succeeds = myJobs.filter(job => job.status === '已完成')
    this.faileds = myJobs.filter(job => job.status === '已失败')
    this.onTopTabClicked(this.$route.query.index || 0)
  },
  methods: {
    onTopTabClicked (index) {
      this.topTabs[index].checked = !this.topTabs[index].checked
      if (index === 0) {
        for (let idx = 1; idx < this.topTabs.length; ++idx) {
          this.topTabs[idx].checked = this.topTabs[index].checked
        }
      } else if(!this.topTabs[index].checked) {
        this.topTabs[0].checked = false
      }
      if (this.topTabs[0].checked) {
        this.jobs = this.judgings
          .concat(this.succeeds).concat(this.faileds)
          .sort((txA, txB) => txA.createdAt < txB.createdAt ? 1 : -1)
      } else if (this.topTabs[1].checked) {
        this.jobs = this.judgings
      } else if (this.topTabs[2].checked) {
        this.jobs = this.succeeds
      } else if (this.topTabs[3].checked) {
        this.jobs = this.faileds
      } else {
        this.jobs = []
      }
    }
  }
}
</script>
