<template>
  <div>
    <a-page-header
      class="justed-header"
      title="我的点券"
      @back="$router.push('/community-job/account')"
    />
    <div style="padding: 5px 10px">
      <div class="justify-around">
        <a-button v-for="(tab, index) in topTabs" :key="tab.title" :style="tab.checked
          ? `color: white; background-color: ${tab.color}`
          : `border-color: ${tab.color}; color: ${tab.color}; background-color: ${tab.color}25`"
          :class="{'mr-5': index !== topTabs.length - 1}" block @click="onTopTabClicked(index)"
        >{{tab.title}}</a-button>
      </div>
    </div>
    <div class="p-5 fix-scroll" style="top: 97px; bottom: 42px">
      <a-list item-layout="horizontal" :data-source="tickets">
        <a-list-item style="display: block" slot="renderItem" slot-scope="order">
          <a-collapse default-active-key="1">
            <a-collapse-panel key="1" :header="order.ticket.name">
              <a-tag slot="extra" :color="sttCols[order.status]">{{order.status}}</a-tag>
              <div v-html="order.ticket.descHTML">{{order.ticket.descHTML}}</div>
              <a-divider style="margin: 16px 0"/>
              <a-space size="large">
                {{order.createdAt}}
                <a-button
                  type="primary" style="float: right"
                  @click="$router.push(`/community-job/account/ticket/qrcode?oid=${order._id}`)"
                >前去兑换</a-button>
              </a-space>
            </a-collapse-panel>
          </a-collapse>
        </a-list-item>
      </a-list>
    </div>
  </div>
</template>

<script>
import utils from '../commons/utils'
import MD from 'markdown-it'
export default {
  data () {
    return {
      topTabs: [{
        title: '全部', checked: false, color: '#2db7f5'
      }, {
        title: '未使用', checked: false, color: '#d3adf7'
      }, {
        title: '已使用', checked: false, color: '#cdcdcd'
      }, {
        title: '已失效', checked: false, color: '#ff5500'
      }],
      sttCols: {},
      tickets: [],
      unuses: [],
      useds: [],
      expireds: []
    }
  },
  async created () {
    for (const topTab of this.topTabs) {
      this.sttCols[topTab.title] = topTab.color
    }
    const path = '/community-job/mdl/v1/orders'
    const md = MD()
    const myTickets = (await utils.reqBack(this, path, 'get', {
      params: { 'user': this.$store.state.lgnUser._id }
    })).map(order => {
      order.ticket.descHTML = md.render(order.ticket.desc)
      return order
    })
    this.unuses = myTickets.filter(tkt => tkt.status === '未使用')
    this.useds = myTickets.filter(tkt => tkt.status === '已使用')
    this.expireds = myTickets.filter(tkt => tkt.status === '已失效')
    this.onTopTabClicked(this.$route.query.index || 0)
  },
  methods: {
    onTopTabClicked (index) {
      this.topTabs[index].checked = !this.topTabs[index].checked
      if (index === 0) {
        for (let idx = 1; idx < this.topTabs.length; ++idx) {
          this.topTabs[idx].checked = this.topTabs[index].checked
        }
      } else if(!this.topTabs[index].checked) {
        this.topTabs[0].checked = false
      }
      if (this.topTabs[0].checked) {
        this.tickets = this.unuses.concat(this.useds).concat(this.expireds)
          .sort((txA, txB) => txA.createdAt < txB.createdAt ? 1 : -1)
      } else if (this.topTabs[1].checked) {
        this.tickets = this.unuses
      } else if (this.topTabs[2].checked) {
        this.tickets = this.useds
      } else if (this.topTabs[3].checked) {
        this.tickets = this.expireds
      } else {
        this.tickets = []
      }
    }
  }
}
</script>
