<template>
  <div>
    <a-page-header
      class="justed-header"
      title="核销点券"
      @back="$router.push('/community-job/account/tickets')"
    />
    <div v-if="order._id" class="p-10">
      <a-descriptions class="mb-30" title="点券信息" bordered :column="1" size="small">
        <a-descriptions-item label="点券名">{{order.ticket.name}}</a-descriptions-item>
        <a-descriptions-item label="数量">{{order.number}}</a-descriptions-item>
        <a-descriptions-item label="购买时间">{{order.createdAt}}</a-descriptions-item>
      </a-descriptions>
      <a-alert message="请向管理员出示以下二维码进行核销" type="info" show-icon />
      <canvas id="qrCode" style="width: 100%; height: auto"/>
    </div>
  </div>
</template>

<script>
import utils from '../commons/utils'
import QRCode from 'qrcode'
export default {
  data () {
    return {
      order: {}
    }
  },
  async created () {
    const path = `/community-job/api/v1/order/${this.$route.query.oid}/genToken`
    this.order = await utils.reqBack(this, path, 'get')
    const $qrCode = await utils.waitFor('#qrCode')
    QRCode.toCanvas($qrCode[0], this.order.token, err => {
      if (err) {
        this.$message.error('二维码生成失败！', err)
      }
    })
  }
}
</script>

<style>
#qrCode {
  margin-top: 5px;  
}

#qrCode img {
  margin: 0 auto;
}
</style>

