<template>
  <user-layout active="news">
    <a-back-top :visibilityHeight="10"/>
    <div class="p-5" style="background: rgba(240, 240, 240, 0.5)">
      <a-input-group class="mb-5">
        <a-row :gutter="8">
          <a-col :span="6">
            <a-button class="w-100" @click="onCollapseClicked">
              {{collapse ? '展开' : '折叠'}}
            </a-button>
          </a-col>
          <a-col :span="18">
            <a-input-search
              placeholder="输入用户名或者任务名查询"
              @search="onSearch" v-model="search"
            />
          </a-col>
        </a-row>
      </a-input-group>
      <a-card v-for="item in news" :key="item._id" class="mb-5" :bodyStyle="{padding: 0}">
        <a-collapse class="collapse-no-btm" style="border: 0" :activeKey="item.clpsKey">
          <a-collapse-panel :header="`${item.job.name}_${item.user.username || item.user.phone}`" :key="item.clpsKey">
            <a-descriptions title="任务详情">
              <a-descriptions-item label="任务名">{{item.job.name}}</a-descriptions-item>
              <a-descriptions-item label="任务简介">{{item.job.intro}}</a-descriptions-item>
              <a-descriptions-item label="提交用户">{{item.user.username || item.user.phone}}</a-descriptions-item>
              <a-descriptions-item label="奖励">{{item.job.rewards}}</a-descriptions-item>
              <a-descriptions-item label="提交时间">{{item.createdAt}}</a-descriptions-item>
              <a-descriptions-item label="状态">
                <a-tag color="#2db7f5">{{item.status}}</a-tag>
              </a-descriptions-item>
              <a-descriptions-item v-if="item.user._id === $store.state.lgnUser._id" label="认证进度">
                总：{{item.judges.length}} / {{item.job.totalJudges}}；真：{{item.score}} / {{item.job.doneScore}}
              </a-descriptions-item>
            </a-descriptions>
            <a-divider>结果</a-divider>
            <a-list item-layout="horizontal" :data-source="item.job.results.filter((res, idx) => item.results[idx])">
              <a-list-item slot="renderItem" slot-scope="result, index">
                <a-list-item-meta :description="result.type === 'string' ? item.results[index] : ''">
                  <p slot="title"># {{result.name}}</p>
                </a-list-item-meta>
                <img v-if="result.type === 'image'" class="img-fluid" :src="item.results[index]"/>
              </a-list-item>
            </a-list>
          </a-collapse-panel>
        </a-collapse>
        <template slot="actions" class="ant-card-actions">
          <a-icon key="real" type="smile"
            :theme="typeof(item.myOpn) != 'undefined' && item.myOpn ? 'filled' : 'outlined'"
            @click="onRealFakeClicked(item, true)"
          />
          <a-icon key="fake" type="frown"
            :theme="typeof(item.myOpn) != 'undefined' && !item.myOpn ? 'filled' : 'outlined'"
            @click="onRealFakeClicked(item, false)"
          />
          <a-icon key="comment" type="message"
            :theme="actCmt === item ? 'filled' : 'outlined'"
            @click="onCommentClicked(item)"
          />
        </template>
        <div v-if="actCmt === item">
          <a-divider style="margin-top: 0">评论</a-divider>
          <a-comment class="add-comment">
            <a-avatar slot="avatar" src="holder.js/32x32?text=A"/>
            <div slot="content">
              <a-form :form="addCmtForm" @submit="onCommentSubmit">
                <a-form-item v-show="false">
                  <a-input v-decorator="['uid', { initialValue: $store.state.lgnUser._id }]"/>
                </a-form-item>
                <a-form-item>
                  <a-textarea :rows="4" v-decorator="['content', {rules: [
                    { required: true, message: '请输入评论内容!' }
                  ]}]"/>
                </a-form-item>
                <a-form-item>
                  <a-button html-type="submit" type="primary">添加评论</a-button>
                </a-form-item>
              </a-form>
            </div>
          </a-comment>
          <a-comment class="add-comment" v-for="cmt in item.comments" :key="cmt.conntent">
            <template slot="actions">
              <span key="comment-basic-like">
                <a-tooltip title="Like">
                  <a-icon type="like" @click="onLikeDslkClicked(cmt, true)"
                    :theme="cmt.likes.includes($store.state.lgnUser._id) ? 'filled' : 'outlined'"
                  />
                </a-tooltip>
                <span style="padding-left: 5px; cursor: 'auto'">{{cmt.likes.length}}</span>
              </span>
              <span key="comment-basic-dislike">
                <a-tooltip title="Dislike">
                  <a-icon type="dislike" @click="onLikeDslkClicked(cmt, false)"
                    :theme="cmt.dislikes.includes($store.state.lgnUser._id) ? 'filled' : 'outlined'"
                  />
                </a-tooltip>
                <span style="padding-left: 5px; cursor: 'auto'">{{cmt.dislikes.length}}</span>
              </span>
            </template>
            <a slot="author">{{cmt.author}}</a>
            <a-avatar slot="avatar" :src="cmt.avatar"/>
            <p slot="content">{{cmt.content}}</p>
            <a-tooltip slot="datetime" :title="cmt.createdAt">
              <span>{{cmt.createdAt}}</span>
            </a-tooltip>
          </a-comment>
        </div>
      </a-card>
    </div>
  </user-layout>
</template>

<script>
import MD from 'markdown-it'
import UserLayout from '../components/UserLayout'
import utils from '../commons/utils'
export default {
  components: {
    'user-layout': UserLayout
  },
  data () {
    return {
      md: MD(),
      news: [],
      actCmt: null,
      utils,
      search: '',
      collapse: false
    }
  },
  beforeCreate () {
    this.addCmtForm = this.$form.createForm(this, { name: 'addComment' })
  },
  created () {
    this.refreshList()
    if (this.$route.query.q) {
      this.search = this.$route.query.q
    }
  },
  methods: {
    onCommentClicked (item) {
      this.actCmt = this.actCmt ? null : item
    },
    async refreshList () {
      const path = '/community-job/mdl/v1/results'
      const result = await utils.reqBack(this, path, 'get', {
        params: { status: '评分中' }
      })
      this.news = result.map(item => {
        for (let i = item.judges.length - 1; i >= 0; --i) {
          const judge = item.judges[i]
          if (judge.uid === this.$store.state.lgnUser._id) {
            item.myOpn = judge.judge === 1
            break
          }
        }
        item.clpsKey = '1'
        return item
      })
    },
    async onRealFakeClicked (item, isReal) {
      if (typeof item.myOpn !== 'undefined') {
        this.$warning({
          title: '你已认证过该结果，不能再进行认证操作！',
        })
        return
      } else if (item.user._id === this.$store.state.lgnUser._id) {
        this.$warning({
          title: '你无法认证自己成果，请你的好友或邻居认证！',
        })
        return
      }
      
      const self = this
      this.$confirm({
        title: '确定认证该结果吗？',
        content: '请核实结果的真实性后再认证，因为认证的结果是不能改变的！',
        async onOk() {
          const path = `/community-job/api/v1/job/result/${item._id}/judge`
          console.log(await utils.reqBack(self, path, 'put', {
            uid: self.$store.state.lgnUser._id,
            reality: isReal
          }))
          return self.refreshList()
        },
        onCancel() {},
      })
    },
    onCommentSubmit (e) {
      e.preventDefault()
      this.addCmtForm.validateFields(async (err, values) => {
        if (err) {
          console.log('评论数据有误：', JSON.stringify(err))
          return
        }
        console.log('Received values of form: ', values)
        const path = `/community-job/api/v1/job/result/${this.actCmt._id}/comment`
        await utils.reqBack(this, path, 'post', values)
        this.$message.success('评论添加成功！')
        this.addCmtForm.resetFields()
        this.refreshList()
      })
    },
    async onLikeDslkClicked (comment, like) {
      const path = `/community-job/api/v1/job/result/${this.actCmt._id}/comment/${comment._id}/like-or-not`
      await utils.reqBack(this, path, 'put', {
        uid: this.$store.state.lgnUser._id, like
      })
      this.refreshList()
    },
    onSearch (text) {
      console.log(text)
    },
    onCollapseClicked () {
      this.collapse = !this.collapse
      this.news.map(item => {
        item.clpsKey = this.collapse ? '' : '1'
      })
    }
  }
}
</script>

<style>
.collapse-no-btm > .ant-collapse-item {
  border-bottom: 0 !important;
}
.add-comment {
  padding: 0 16px;
}

.add-comment .ant-comment-inner {
  padding: 0 !important;
}

.pgs-dsc-itm .ant-descriptions-item-content {
  width: 100%;
}
</style>
