<template>
  <a-result
    status="success"
    title="点券兑换成功！"
    sub-title="向管理员出示订单二维码，便可进行核销获取对应的商品"
  >
    <template #icon>
      <a-icon type="smile" theme="twoTone"/>
    </template>
    <template #extra>
      <a-button key="console" type="primary">查看订单</a-button>
      <a-button key="buy" @click="$router.push('/community-job/shop')">再次购买</a-button>
    </template>
  </a-result>
</template>