<template>
  <div>
    <a-page-header
      class="justed-header"
      :title="current.name"
      @back="$router.go(-1)"
    />
    <div class="body-has-head">
      <a-form :form="form" @submit="onResultSubmitted">
        <a-form-item v-for="(result, index) in this.current.results" :key="result.desc" :label="result.name">
          <a-upload v-if="result.type === 'image'"
            name="file"
            list-type="picture-card"
            class="avatar-uploader"
            :show-upload-list="false"
            :action="`${bkHost}/community-job/api/v1/image`"
            :data="{key: `${current.name}_${$store.state.lgnUser.phone}_${result.type}${index}`}"
            @change="onUpldImgChanged"
            v-decorator="[`${result.type}${index}`, {
              rules: [{ required: result.required, message: `请上传图片结果物${index}` }],
              valuePropName: 'file',
              getValueFromEvent: e => e && e.file && e.file.response ? e.file.response.result : 'uploading',
            }]"
          >
            <img v-if="upload.imgURL" :src="upload.imgURL" style="width: 100%; height: auto" />
            <div v-else>
              <a-icon :type="upload.loading ? 'loading' : 'plus'" />
              <div class="ant-upload-text">{{result.desc}}</div>
            </div>
          </a-upload>
          <a-input v-else :placeholder="result.desc"
            v-decorator="[`${result.type}${index}`, { rules: [
              { required: result.required, message: `请输入结果物${index}！` }
            ]}]"
          />
        </a-form-item>
        <a-form-item>
          <a-button type="primary" block html-type="submit">提交</a-button>
        </a-form-item>
      </a-form>
    </div>
  </div>
</template>

<script>
import utils from '../commons/utils'
export default {
  data () {
    return {
      bkHost: utils.bkHost,
      upload: {
        imgURL: '',
        loading: false
      },
      current: {}
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this, { name: 'results' })
  },
  async created () {
    const path = `/community-job/mdl/v1/job/${this.$route.query.jobId}`
    const result = await utils.reqBack(this, path, 'get')
    this.current = result[0]
  },
  methods: {
    onResultSubmitted (e) {
      e.preventDefault()
      this.form.validateFields(async (err, values) => {
        if (err) {
          console.log('提交数据有误：', JSON.stringify(err))
          return
        }
        console.log('Received values of form: ', values)
        const newResult = {
          status: '评分中',
          score: 0,
          judges: [],
          user: this.$store.state.lgnUser._id,
          results: this.current.results.map((result, index) => values[`${result.type}${index}`]),
          comments: []
        }
        const path = `/community-job/api/v1/job/${this.current._id}/result`
        await utils.reqBack(this, path, 'post', newResult)
        this.$router.push('/community-job/sbtResult/success')
      })
    },
    onUpldImgChanged (e) {
      this.upload.loading = true
       if (e.file.response) {
        const resp = e.file.response
        if (resp.error) {
          this.$notification.error({
            message: '选择文件错误！',
            description: resp.error,
          })
        } else {
          const result = resp.result
          this.upload.imgURL = result
        }
        this.upload.loading = false
      }
    }
  }
}
</script>

<style>
.avatar-uploader .ant-upload {
  width: 100%;
}
</style>
