<template>
  <a-result
    status="success"
    title="任务结果提交成功！"
    sub-title="任务结果将经过管理员或其他用户的确认，一旦确认通过，任务奖励将立即发放到您的账户。"
  >
    <template #extra>
      <a-button key="more" type="primary">
        去接更多任务！
      </a-button>
      <a-button key="check" @click="$router.push('/community-job/news')">
        查看任务结果
      </a-button>
    </template>
  </a-result>
</template>
