<template>
  <user-layout active="shop">
    <div class="ticket-container p-5">
      <a-input-search class="mb-5"
        placeholder="输入用户名或者任务名查询"
        @search="onSearch" v-model="search"
      />
      <a-row v-if="JSON.stringify(tickets) !== '{}'" :gutter="5">
        <a-col v-for="colSd in ['left', 'right']" :key="colSd" :span="12">
          <a-card class="mb-5 ticket-card" hoverable v-for="tktId in ids[colSd]" :key="tktId"
            @click="$router.push(`/community-job/ticket?tktId=${tktId}`)"
          >
            <img slot="cover" :src="tickets[tktId].cover" alt="cover"/>
            <a-card-meta :title="tickets[tktId].name">
              <template slot="description">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a-icon type="gold" />&nbsp;售出：{{tickets[tktId].left || 0}} / {{tickets[tktId].number}}
                  </li>
                  <li>
                    <a-icon type="pay-circle"/>&nbsp;价格：{{tickets[tktId].price}}
                    <a-tag v-if="tickets[tktId].preferences.length" color="red">
                      {{tickets[tktId].preferences[0].desc}}
                    </a-tag>
                  </li>
                </ul>
              </template>
            </a-card-meta>
          </a-card>
        </a-col>
      </a-row>
      <a-row v-else :gutter="5">
        <a-col :span="12">
          <a-card class="mb-5" hoverable :key="ticket._id"
            v-for="ticket in results.filter((itm, idx) => idx % 2 === 0)"
          >
            <img slot="cover" :src="ticket.cover" alt="cover"/>
            <a-card-meta :title="ticket.name">
              <template slot="description">{{ticket.desc}}</template>
            </a-card-meta>
          </a-card>
        </a-col>
        <a-col :span="12">
          <a-card class="mb-5" hoverable :key="ticket._id"
            v-for="ticket in results.filter((itm, idx) => idx % 2 !== 0)"
          >
            <img slot="cover" :src="ticket.cover" alt="cover"/>
            <a-card-meta :title="ticket.name">
              <template slot="description">{{ticket.desc}}</template>
            </a-card-meta>
          </a-card>
        </a-col>
      </a-row>
    </div>
  </user-layout>
</template>

<script>
import UserLayout from '../components/UserLayout'
import utils from '../commons/utils'
export default {
  components: {
    'user-layout': UserLayout
  },
  data () {
    return {
      results: [],
      tickets: {},
      search: '',
      ids: {
        left: [],
        right: []
      }
    }
  },
  async created () {
    this.results = await utils.reqBack(this, '/community-job/mdl/v1/tickets', 'get')
    const covers = await utils.waitFor('.ticket-container img[alt=cover]', ele => ele.length)
    for (let i = 0; i < covers.length; ++i) {
      this.results[i].height = covers[i].height
    }
    let lftHgt = 0, rgtHgt = 0
    this.tickets = {}
    this.ids.left = []
    this.ids.right = []
    for (const ticket of this.results) {
      const tktId = ticket._id
      if (lftHgt <= rgtHgt) {
        this.ids.left.push(tktId)
        lftHgt += ticket.height
      } else {
        this.ids.right.push(tktId)
        rgtHgt += ticket.height
      }
      delete ticket._id
      delete ticket.height
      this.tickets[tktId] = ticket
    }
    console.log(this.tickets)
  },
  methods: {
    onSearch (text) {
      console.log(text)
    }
  }
}
</script>

<style>
.ticket-card .ant-card-body {
  padding: 15px 10px !important;
}
</style>
