<template>
  <div v-if="current._id">
    <a-page-header
      style="border: 1px solid rgb(235, 237, 240); padding: 10px 20px"
      :title="current.name"
      sub-title="点券详细"
      @back="$router.push('/community-job/shop')"
    />
    <div class="fix-scroll" style="top: 55px; bottom: 42px; background: rgba(240, 240, 240, 0.5)">
      <img class="img-fluid" :src="current.cover"/>
      <a-descriptions
        class="p-10 ticket-info mb-10"
        style="background: white"
        :column="2"
      >
        <span slot="title">
          {{current.name}}<br/>
          <a-tag
            v-for="pref in current.preferences"
            :key="pref.type" color="red"
          >{{pref.desc}}</a-tag>
        </span>
        <a-descriptions-item>
          <span slot="label">
            <a-icon type="pay-circle" style="color: #eb2f96"/>&nbsp;价格
          </span>
          <span>{{current.price}}</span>
        </a-descriptions-item>
        <a-descriptions-item>
          <span slot="label">
            <a-icon type="gold" style="color: #eb2f96"/>&nbsp;库存
          </span>
          <span>{{current.left || 0}} / {{current.number}}</span>
        </a-descriptions-item>
      </a-descriptions>

      <a-card class="mb-10" title="使用说明" :bordered="false"
        :headStyle="{'border-radius': 0}"
        :bodyStyle="{'border-radius': 0}"
      >
        <div v-html="current.descHTML">{{current.descHTML}}</div>
      </a-card>

      <a-card v-if="current.messages.length" class="mb-10" title="留言" :bordered="false"
        :headStyle="{'border-radius': 0}"
        :bodyStyle="{
          'border-radius': 0,
          'padding-top': 0,
          'padding-bottom': 0
        }"
      >
        <a-list
          :data-source="current.messages"
          item-layout="horizontal"
        >
          <a-list-item class="p-0" slot="renderItem" slot-scope="item">
            <a-comment
              :author="item.author"
              :content="item.content"
              :datetime="item.createdAt"
            >
              <a-avatar slot="avatar" icon="user"/>
              <a-comment v-if="item.reply"
                :content="item.reply"
                :datetime="item.repliedAt"
              >
                <a-avatar slot="avatar"><b>A</b></a-avatar>
              </a-comment>
            </a-comment>
          </a-list-item>
        </a-list>
      </a-card>
    </div>
    <a-space class="fix-bottom">
      <a-popover overlayClassName="add-msg-po" title="留言" trigger="click" v-model="addMsgVisible">
        <a-comment class="add-message" slot="content">
          <div slot="content">
            <a-form :form="msgForm" @submit="onCommentSubmit">
              <a-form-item class="mb-5">
                <a-textarea :rows="2" placeholder="输入留言" v-decorator="['content', {
                  rules: [{ required: true, message: '请输入留言!' }],
                }]"/>
              </a-form-item>
              <a-form-item class="mb-5">
                <a-button html-type="submit" :loading="msgSbtting" type="primary">
                  向管理员留言
                </a-button>
              </a-form-item>
            </a-form>
          </div>
        </a-comment>
        <a-button type="primary" icon="message" :ghost="!addMsgVisible">留言</a-button>
      </a-popover>
      <a-space style="float: right; text-align: right">
        <a-input-group compact>
          <a-button icon="minus" :disabled="number <= 1" @click="number--"/>
          <a-input :disabled="true" style="width: 30%; text-align: center" v-model="number"/>
          <a-button icon="plus" :disabled="number >= current.number" @click="number++"/>
        </a-input-group>
        <a-button type="primary" @click="$router.push(
          `/community-job/cfmOrder?tktId=${$route.query.tktId}&number=${number}`
        )">购买</a-button>
      </a-space>
    </a-space>
  </div>
</template>

<script>
import {reqBack} from '../commons/utils'
import MD from 'markdown-it'
export default {
  data () {
    return {
      current: {},
      msgSbtting: false,
      addMsgVisible: false,
      number: 1
    }
  },
  beforeCreate () {
    this.msgForm = this.$form.createForm(this, { name: 'comment' })
  },
  created () {
    this.refresh()
  },
  methods: {
    onCommentSubmit (e) {
      e.preventDefault()
      this.msgForm.validateFields(async (err, values) => {
        if (err) {
          console.log('评论表单信息错误', err)
          return
        }
        const lgned = this.$store.state.lgnUser
        const path = `/community-job/api/v1/ticket/${this.current._id}/message`
        console.log(await reqBack(this, path, 'post', Object.assign({
          aid: lgned._id,
          author: lgned.username || lgned.phone,
          createdAt: new Date()
        }, values)))
        this.$message.success('留言成功')
        this.msgForm.resetFields()
        this.addMsgVisible = false
        this.refresh()
      })
    },
    async refresh () {
      const path = `/community-job/mdl/v1/ticket/${this.$route.query.tktId}`
      this.current = (await reqBack(this, path, 'get'))[0]
      this.current.descHTML = MD().render(this.current.desc)
    }
  }
}
</script>

<style>
.ticket-info .ant-descriptions-title {
  font-size: 20pt;
  margin-bottom: 10px;
}

.ticket-info .ant-descriptions-item-label, .ticket-info .ant-descriptions-item-content {
  font-size: 12pt !important;
}

.add-message .ant-comment-inner {
  padding: 0 !important;
}

.add-message .ant-comment-avatar {
  margin-right: 0 !important;
}

.add-msg-po .ant-popover-arrow {
  left: 25% !important;
}
</style>
