<template>
  <a-layout id="components-layout-demo-custom-trigger">
    <a-layout-sider v-model="collapsed" :trigger="null" collapsible :style="{
      position: 'fixed', width: collapsed ? '80px' : '200px', top: 0, bottom: 0
    }">
      <div class="logo" />
      <a-menu theme="dark" mode="inline" :selectedKeys="[activekey]" @click="({key}) => {
        $router.push(`/community-job/admin/vw${key}s`)
      }">
        <a-menu-item key="Job">
          <a-icon type="profile" />
          <span>任务</span>
        </a-menu-item>
        <a-menu-item key="Ticket">
          <a-icon type="shop" />
          <span>点券</span>
        </a-menu-item>
      </a-menu>
    </a-layout-sider>
    <a-layout :style="{
      position: 'fixed', left: collapsed ? '80px' : '200px', right: 0, top: 0, bottom: 0
    }">
      <a-layout-header style="background: #fff; padding: 0">
        <a-icon
          class="trigger"
          :type="collapsed ? 'menu-unfold' : 'menu-fold'"
          @click="() => (collapsed = !collapsed)"
        />
      </a-layout-header>
      <a-layout-content :style="{
        margin: '24px 16px', background: '#fff', minHeight: '280px', 'overflow-y': 'scroll'
      }"><slot/></a-layout-content>
    </a-layout>
  </a-layout>
</template>

<script>
export default {
  props: {
    'activekey': String
  },
  data() {
    return {
      collapsed: false,
    }
  }
}
</script>

<style>
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>