<template>
  <a-form class="w-100 p-2pc"
    :form="form"
    :label-col="{ span: 5 }"
    :wrapper-col="{ span: 12 }"
    @submit="onFormSubmit"
  >
    <a-form-item label="任务名称">
      <a-input placeholder="输入任务名称"
        v-decorator="['name', { rules: [{ required: true, message: '请输入任务名称!' }] }]"
      />
    </a-form-item>
    <a-form-item label="任务简介">
      <a-textarea placeholder="输入任务简介（上限200字）" :auto-size="{ minRows: 2, maxRows: 5 }" :maxLength="200"
        v-decorator="['intro', { rules: [{ required: true, message: '请输入任务名称!' }] }]"
      >
        <p slot="suffix">{{form && form.getFieldValue('intro') ? form.getFieldValue('intro').length : 0}}/200</p>
      </a-textarea>
    </a-form-item>
    <a-form-item :colon="false">
      <span slot="label">
        任务说明
        <a-tooltip title="以markdown格式输入">
          <a-icon type="exclamation-circle" />
        </a-tooltip>
        <span style="margin: 0 8px 0 2px">:</span>
        <br/>
        <a-button type="primary" :ghost="!jobDscRevw.visible" size="small"
          @click="jobDscRevw.visible = !jobDscRevw.visible; onDescChanged()"
        >预览说明</a-button>
      </span>
      <a-textarea placeholder="输入任务说明（markdown格式）" @change="onDescChanged"
        v-decorator="['desc', { rules: [{ required: true, message: '请输入任务说明!' }] }]"
        :auto-size="{ minRows: 3, maxRows: 6 }"
      />
    </a-form-item>
    <a-form-item v-if="jobDscRevw.visible" label="说明预览">
      <div class="desc-preview" v-html="jobDscRevw.rvwHTML">{{jobDscRevw.rvwHTML}}</div>
    </a-form-item>
    <a-form-item label="任务奖励">
      <a-input-number class="w-100" placeholder="输入任务奖励"
        v-decorator="['rewards', { rules: [{ required: true, message: '请输入任务奖励!' }] }]"
      />
    </a-form-item>
    <a-form-item label="任务二维码">
      <a-input placeholder="输入任务二维码（如果有的话）" v-decorator="['qrCode', { rules: [] }]"/>
    </a-form-item>
    <a-form-item label="任务数量" class="mb-5">
      <a-row class="w-100">
        <a-col :span="7">
          <a-checkbox :checked="formOpns.denbNum" @change="e => { formOpns.denbNum = e.target.checked }">
            无限制
          </a-checkbox>
        </a-col>
        <a-col :span="17">
          <a-input-number class="w-100" placeholder="输入任务数量" :min="1" :disabled="formOpns.denbNum"
            v-decorator="['number', { rules: [{ required: true, message: '请输入任务总量!' }] }]"
          />
        </a-col>
      </a-row>
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-input class="w-100" placeholder="输入每#可接任务数量" type="number"
        :disabled="formOpns.denbNum || form.getFieldValue('perX') === 'none'"
        v-decorator="['num']"
      >
        <a-select slot="addonBefore" style="width: 10vw"
          :disabled="formOpns.denbNum" v-decorator="[
            'perX', { initialValue: 'none' }
          ]"
        >
          <a-select-option value="none">无限制</a-select-option>
          <a-select-option value="day">每日</a-select-option>
          <a-select-option value="week">每周</a-select-option>
          <a-select-option value="month">每月</a-select-option>
        </a-select>
      </a-input>
    </a-form-item>
    <a-form-item label="持续时间">
      <a-row :gutter="2">
        <a-col :span="4">
          <a-checkbox @change="formOpns.enbDur = !formOpns.enbDur" :checked="formOpns.enbDur">
            {{formOpns.enbDur ? '有' : '无'}}
          </a-checkbox>
        </a-col>
        <a-col :span="20">
          <a-range-picker class="w-100" :disabled="!formOpns.enbDur"
            v-decorator="['duration', { rules: [{ type: 'array' }] }]"
          />
        </a-col>
      </a-row>
    </a-form-item>
    <a-form-item label="可重复">
      <a-switch v-decorator="['repeatable', { initialValue: false }]"/>
    </a-form-item>
    <a-form-item>
      <span slot="label">
        完成条件
        <a-tooltip :overlayStyle="{width: '30vw', 'max-width': '100vw'}" trigger="click">
          <p slot="title">
            任务完成条件（任务失败条件反之）：
            <ol>
              <li>完成分数大于任务所需分数且认证总数大于任务所需总数</li>
              <li>完成分数大于任务所需分数的4倍</li>
            </ol>
          </p>
          <a-icon type="exclamation-circle" />
        </a-tooltip>
      </span>
      <a-input-number class="w-100" placeholder="输入认证总数" :max="99999"
        v-decorator="['totalJudges', { rules: [{ required: true, message: '请输入认证总数！' }] }]"
      />
    </a-form-item>
    <a-form-item>
      <span slot="label">
        完成分数
        <a-tooltip :overlayStyle="{width: '30vw', 'max-width': '100vw'}" trigger="click">
          <ul slot="title">
            <li v-for="score in scores" :key="score._id">
              等级{{score.level}}：完成任务（{{score["完成任务"]}}）；发布评论（{{score["发布评论"]}}）；判断结果（{{score["判断结果"]}}）
            </li>
          </ul>
          <a-icon type="exclamation-circle" />
        </a-tooltip>
      </span>
      <a-input-number class="w-100" placeholder="输入完成分数" :max="99999"
        v-decorator="['doneScore', { rules: [{ required: true, message: '请输入完成分数！' }] }]"
      />
    </a-form-item>
    <a-form-item label="任务资格">
      <a-button class="w-100" type="dashed" @click="addJobCond.visible = true">
        <a-icon type="plus" /> 添加可接受任务的条件
      </a-button>
      <a-modal
        title="添加任务资格"
        :visible="addJobCond.visible"
        @ok="onAddCondClicked"
        @cancel="addJobCond.visible = false"
      >
        <a-input-group class="w-100" compact>
          <a-select style="width: 30%" default-value="address" v-model="addJobCond.form.key">
            <a-select-option v-for="[key, val] of Object.entries(addJobCond.keys)" :key="key" :value="key">
              {{val}}
            </a-select-option>
          </a-select>
          <a-select style="width: 20%" default-value="eq" v-model="addJobCond.form.rel">
            <a-select-option v-for="[key, val] of Object.entries(addJobCond.rels)" :key="key" :value="key">
              {{val}}
            </a-select-option>
          </a-select>
          <a-input style="width: 50%" placeholder="输入条件" v-model="addJobCond.form.val"/>
        </a-input-group>
      </a-modal>
    </a-form-item>
    <a-form-item
      v-for="(cond, index) in form.getFieldValue('qualities')"
      :key="JSON.stringify(cond)"
      v-bind="index === 0 ? {} : { wrapperCol: {span: 12, offset: 5} }"
      :label="index === 0 ? '可接任务的条件' : ''"
      :required="false"
    >
      <a-row>
        <a-col :span="20">
          {{addJobCond.keys[cond.key]}} {{addJobCond.rels[cond.rel]}} {{cond.val}}
        </a-col>
        <a-col :span="4" style="text-align: center">
          <a-icon
            class="dynamic-delete-button"
            type="minus-circle-o"
            style="color: #ff4d4f"
            @click="() => onRmvCondClicked(index)"
          />
        </a-col>
      </a-row>
    </a-form-item>
    <a-form-item label="任务结果物">
      <a-button class="w-100" type="dashed" @click="vfyJobDone.visible = true">
        <a-icon type="plus" /> 添加证明任务完成的凭证
      </a-button>
      <a-modal
        title="添加验证任务完成的凭证"
        :visible="vfyJobDone.visible"
        @ok="onAddResRcptClicked"
        @cancel="vfyJobDone.visible = false"
      >
        <a-input-group compact>
          <a-input style="width: 70%" placeholder="输入结果凭证标题" v-model="vfyJobDone.form.name"/>
          <a-select style="width: 30%" v-model="vfyJobDone.form.type">
            <a-select-option v-for="[key, title] in Object.entries(vfyJobDone.types)" :key="key" :value="key">
              {{title}}
            </a-select-option>
          </a-select>
        </a-input-group>
        <div class="mt-10">
          <a-input placeholder="输入结果凭证说明（选填）" v-model="vfyJobDone.form.desc"/>
        </div>
        <div class="mt-10">
          <a-checkbox :checked="!vfyJobDone.form.required" @change="() => {
            vfyJobDone.form.required = !vfyJobDone.form.required
          }">{{vfyJobDone.form.required ? '必须' : '可选'}}</a-checkbox>
        </div>
      </a-modal>
    </a-form-item>
    <a-form-item v-if="form.getFieldValue('results').length" :wrapper-col="{ span: 12, offset: 5 }">
      <a-table
        :columns="[{
          title: '结果名称',
          dataIndex: 'name',
          key: 'name',
        }, {
          title: '类型',
          dataIndex: 'type',
          key: 'type',
          scopedSlots: { customRender: 'type' },
        }, {
          title: '描述',
          dataIndex: 'desc',
          key: 'desc'
        }, {
          title: '是否可选',
          dataIndex: 'required',
          key: 'required',
          scopedSlots: { customRender: 'required' },
        }, {
          title: '操作',
          key: 'action',
          scopedSlots: { customRender: 'action' },
        }]"
        :data-source="form.getFieldValue('results').map((item, idx) => Object.assign({key: idx}, item))"
        :pagination="false"
      >
        <span slot="type" slot-scope="type">
          {{vfyJobDone.types[type]}}
        </span>
        <span slot="required" slot-scope="required">
          {{required ? '必须' : '可选'}}
        </span>
        <span slot="action" slot-scope="item">
          <a-icon
            class="dynamic-delete-button"
            type="minus-circle-o"
            style="color: #ff4d4f"
            @click="() => onRmvResultClicked(item.key)"
          />
        </span>
      </a-table>
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button class="mr-10">
        预览
      </a-button>
      <a-button type="primary" html-type="submit">
        {{$route.query.jobId ? '保存' : '创建'}}任务
      </a-button>
    </a-form-item>
  </a-form>
</template>

<script>
import MD from 'markdown-it'
import utils from '../commons/utils'
export default {
  props: {
    onFormSubmitted: Function
  },
  data() {
    return {
      md: MD(),
      jobDscRevw: {
        visible: false,
        rvwHTML: ''
      },
      vfyJobDone: {
        visible: false,
        form: {},
        types: {
          'string': '文字',
          'image': '图片'
        }
      },
      addJobCond: {
        visible: false,
        form: {},
        keys: {
          address: '地址',
          age: '年龄'
        },
        rels: {
          eq: '等于',
          neq: '不等于',
          in: '包含',
          nin: '不包含',
        }
      },
      formOpns: {
        enbDur: true,
        denbNum: false,
      },
      scores: []
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this, { name: 'job' })
    this.form.getFieldDecorator('qualities', { initialValue: [], preserve: true })
    this.form.getFieldDecorator('results', { initialValue: [], preserve: true })
  },
  async created () {
    this.rstAddJobCondForm()
    this.rstJobDoneForm()
    if (this.$route.query.jobId) {
      const path = `/community-job/mdl/v1/job/${this.$route.query.jobId}`
      const result = await utils.reqBack(this, path, 'get')
      utils.jobJsonToForm(result[0], this.form)
    }
    const result = await utils.reqBack(this, "/community-job/mdl/v1/scores", "get")
    this.scores = result.filter(item => item.level !== -1).sort((a, b) => a.level < b.level ? -1 : 1)
  },
  methods: {
    onFormSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values)
          values.numPerX = [values.num, values.perX]
          values.realsRate = [(values.realsRate / 20 + 1), 6]
          this.onFormSubmitted(values)
        }
      })
    },
    onDurationChanged () {

    },
    onAddCondClicked () {
      const qualities = this.form.getFieldValue('qualities')
      qualities.push(this.addJobCond.form)
      this.form.setFieldsValue({qualities})
      this.addJobCond.visible = false
      this.rstAddJobCondForm()
    },
    onRmvCondClicked (index) {
      const qualities = this.form.getFieldValue('qualities')
      if (qualities.length < 1) {
        return
      }
      this.form.setFieldsValue({
        'qualities': qualities.slice(0, index).concat(qualities.slice(index + 1))
      })
    },
    rstAddJobCondForm () {
      this.addJobCond.form = {
        key: 'address', rel: 'eq', val: ''
      }
    },
    onDescChanged () {
      const desc = this.form.getFieldValue('desc')
      if (!desc) {
        return
      }
      this.jobDscRevw.rvwHTML = this.md.render(desc)
    },
    onAddResRcptClicked () {
      const results = this.form.getFieldValue('results')
      results.push(this.vfyJobDone.form)
      this.form.setFieldsValue({results})
      this.vfyJobDone.visible = false
      this.rstJobDoneForm()
    },
    rstJobDoneForm () {
      this.vfyJobDone.form = {
        name: '', desc: '', type: 'string', required: false
      }
    },
    onRmvResultClicked (index) {
      const results = this.form.getFieldValue('results')
      if (results.length < 1) {
        return
      }
      this.form.setFieldsValue({
        'results': results.slice(0, index).concat(results.slice(index + 1))
      })
    },
  },
}
</script>