<template>
  <a-form class="w-100 p-2pc"
    :form="form"
    :label-col="{ span: 5 }"
    :wrapper-col="{ span: 12 }"
    @submit="onFormSubmit"
  >
    <a-form-item label="点券名称">
      <a-input placeholder="输入点券名称" v-decorator="['name', { rules: [
        { required: true, message: '请输入点券名称!' }
      ]}]"/>
    </a-form-item>
    <a-form-item label="封面">
      <a-upload
        name="file"
        class="avatar-uploader"
        list-type="picture-card"
        :show-upload-list="false"
        :action="`${bkHost}/community-job/api/v1/image`"
        @change="onUpldImgChanged"
        v-decorator="['cover', {
          rules: [{ required: true, message: '请上传点券封面' }],
          valuePropName: 'file',
          getValueFromEvent: e => e && e.file && e.file.response ? e.file.response.result : 'uploading',
        }]"
      >
        <img v-if="formOpns.upload.imgURL" :src="formOpns.upload.imgURL" style="width: 100%; height: auto" />
        <div v-else>
          <a-icon :type="formOpns.upload.loading ? 'loading' : 'plus'" />
          <div class="ant-upload-text">上传点券封面</div>
        </div>
      </a-upload>
    </a-form-item>
    <a-form-item label="价格">
      <a-input-number class="w-100" placeholder="输入点券价格" v-decorator="['price', { rules: [
        { required: true, message: '请输入点券价格!' }
      ]}]"/>
    </a-form-item>
    <a-form-item label="数量">
      <a-row :gutter="5">
        <a-col :span="4">
          <a-checkbox :checked="formOpns.infiTkts"
            @change="e => { formOpns.infiTkts = e.target.checked }"
          >无限</a-checkbox>
        </a-col>
        <a-col :span="20">
          <a-input-number class="w-100" placeholder="输入点券数量"
            v-decorator="['number', { rules: [
              { required: true, message: '请输入点券数量!' }
            ]}]" :disabled="formOpns.infiTkts"
          />
        </a-col>
      </a-row>
    </a-form-item>
    <a-form-item :colon="false">
      <span slot="label">
        使用说明
        <span style="margin: 0 8px 0 2px">:</span>
        <br/>
        <a-button type="primary" :ghost="!formOpns.descView.visible" size="small"
          @click="formOpns.descView.visible = !formOpns.descView.visible; onDescChanged()"
        >预览说明</a-button>
      </span>
      <a-textarea placeholder="输入使用说明" @change="onDescChanged" :auto-size="{ minRows: 3, maxRows: 6 }"
        v-decorator="['desc', { rules: [
          { required: true, message: '请输入点券使用说明!' }
        ]}]"
      />
    </a-form-item>
    <a-form-item v-if="formOpns.descView.visible" label="说明预览">
      <div class="desc-preview" v-html="formOpns.descView.html">{{formOpns.descView.html}}</div>
    </a-form-item>
    <a-form-item label="优惠活动">
      <a-button class="w-100" type="dashed" @click="formOpns.preference.visible = true">
        <a-icon type="plus" /> 添加优惠活动
      </a-button>
      <a-modal
        title="添加优惠活动"
        :visible="formOpns.preference.visible"
        @ok="onAddPrefClicked"
        @cancel="formOpns.preference.visible = false"
      >
        <a-form :form="formOpns.preference.form">
          <a-form-item label="优惠方式">
            <a-select placeholder="选择优惠方式" v-decorator="['type', { rules: [
              { required: true, message: '请选择优惠方式!' }
            ]}]">
              <a-select-option v-for="prefType in formOpns.preference.options"
                :key="prefType.key" :value="prefType.key"
              >{{prefType.title}}</a-select-option>
            </a-select>
          </a-form-item>
          <template v-if="formOpns.preference.form.getFieldValue('type')">
            <template v-for="prefFmItm in formOpns.preference.options.find(opn => {
              return opn.key === formOpns.preference.form.getFieldValue('type')
            }).formItms">
              <a-form-item :label="prefFmItm.name" :key="prefFmItm.key">
                <a-input v-if="prefFmItm.type === 'input'"
                  :placeholder="`输入${prefFmItm.name}`" :suffix="prefFmItm.suffix"
                  v-decorator="[prefFmItm.key, { rules: [
                    { required: prefFmItm.required, message: `请输入${prefFmItm.name}!` }
                  ]}]"
                />
              </a-form-item>
              <a-form-item v-if="prefFmItm.type === 'input' && prefFmItm.suffix"
                v-show="false" :key="prefFmItm.key + '1'"
              >
                <a-input v-decorator="[`${prefFmItm.key}Unit`, { initialValue: prefFmItm.suffix }]"/>
              </a-form-item>
            </template>
          </template>
        </a-form>
      </a-modal>
    </a-form-item>
    <a-form-item
      v-for="(pref, index) in form.getFieldValue('preferences')"
      :key="JSON.stringify(pref)"
      v-bind="{ wrapperCol: {span: 12, offset: 5} }"
      :required="false"
    >
      <a-row>
        <a-col :span="20">【{{pref.title}}】{{pref.desc}}</a-col>
        <a-col :span="4" style="text-align: center">
          <a-icon
            class="dynamic-delete-button"
            type="minus-circle-o"
            style="color: #ff4d4f"
            @click="() => onRmvPrefClicked(index)"
          />
        </a-col>
      </a-row>
    </a-form-item>
    <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
      <a-button type="primary" html-type="submit">
        {{$route.query.tktId ? '保存' : '创建'}}点券
      </a-button>
    </a-form-item>
  </a-form>
</template>

<script>
import MD from 'markdown-it'
import utils from '../commons/utils'
export default {
  props: {
    onFormSubmitted: Function
  },
  data () {
    return {
      md: MD(),
      bkHost: utils.bkHost,
      formOpns: {
        infiTkts: false,
        descView: {
          visible: false,
          html: ''
        },
        preference: {
          visible: false,
          options: [{
            key: 'sale',
            title: '打折',
            formItms: [{
              key: 'discount',
              name: '折扣',
              type: 'input',
              suffix: '折',
              required: true
            }]
          }, {
            key: 'fullCut',
            title: '满减',
            formItms: [{
              key: 'full',
              name: '满',
              type: 'input',
              suffix: '元',
              required: true
            }, {
              key: 'cut',
              name: '减',
              type: 'input',
              suffix: '元',
              required: true
            }]
          }]
        },
        upload: {
          imgURL: '',
          loading: false
        },
      }
    }
  },
  beforeCreate () {
    this.form = this.$form.createForm(this, { name: 'ticket' })
    this.form.getFieldDecorator('preferences', { initialValue: [], preserve: true })
  },
  async created () {
    this.formOpns.preference.form = this.$form.createForm(this, { name: 'preference' })
    if (this.$route.query.tktId) {
      const path = `/community-job/mdl/v1/ticket/${this.$route.query.tktId}`
      const ticket = (await utils.reqBack(this, path, 'get'))[0]
      utils.ticketJsonToForm(ticket, this.form)
      if (ticket.cover) {
        this.formOpns.upload.imgURL = ticket.cover
      }
    }
  },
  methods: {
    onFormSubmit (e) {
      e.preventDefault()
      this.form.validateFields((err, values) => {
        if (!err) {
          console.log('Received values of form: ', values)
          this.onFormSubmitted(values)
        }
      })
    },
    onDescChanged () {
      const desc = this.form.getFieldValue('desc')
      if (!desc) {
        return
      }
      this.formOpns.descView.html = this.md.render(desc)
    },
    onAddPrefClicked () {
      this.formOpns.preference.form.validateFields((err, values) => {
        if (err) {
          console.log('优惠活动表单输入信息错误', err)
          return
        }
        console.log('Received values of form: ', values)
        const preferences = this.form.getFieldValue('preferences')
        const prefTemp = this.formOpns.preference.options.find(opn => opn.key === values.type)
        preferences.push(Object.assign({
          title: prefTemp.title,
          desc: prefTemp.formItms.map(fitm => {
            return `${fitm.name}(${values[fitm.key]}${values[fitm.key + 'Unit'] || ''})`
          }).join('；')
        }, values))
        this.form.setFieldsValue({preferences})
        this.formOpns.preference.visible = false
        this.formOpns.preference.form.resetFields()
      })
    },
    onRmvPrefClicked (index) {
      const preferences = this.form.getFieldValue('preferences')
      if (preferences.length < 1) {
        return
      }
      preferences.splice(index, 1)
      this.form.setFieldsValue({preferences})
    },
    onUpldImgChanged (e) {
      this.formOpns.upload.loading = true
       if (e.file.response) {
        const resp = e.file.response
        if (resp.error) {
          this.$notification.error({
            message: '选择文件错误！',
            description: resp.error,
          })
        } else {
          this.formOpns.upload.imgURL = resp.result
        }
        this.formOpns.upload.loading = false
      }
    }
  }
}
</script>