<template>
  <a-layout class="h-100" style="background: white">
    <a-layout-content :style="{ marginBottom: '66px', overflowY: 'scroll' }">
      <slot/>
    </a-layout-content>
    <a-layout-footer :style="{ padding: 0, position: 'fixed', bottom: 0, zIndex: 1, width: '100%' }">
      <a-menu
        theme="light" mode="horizontal" :style="{ lineHeight: '64px', display: 'flex', 'justify-content': 'space-around' }"
        class="btm-menu" v-model="actives" @click="onMenuClicked"
      >
        <a-menu-item class="w-100 text-center p-0" key="jobs"><a-icon type="profile"/>任务</a-menu-item>
        <a-menu-item class="w-100 text-center p-0" key="news"><a-icon type="compass"/>发现</a-menu-item>
        <a-menu-item class="w-100 text-center p-0" key="shop"><a-icon type="shop"/>商城</a-menu-item>
        <a-menu-item class="w-100 text-center p-0" key="account"><a-icon type="user"/>我的</a-menu-item>
      </a-menu>
    </a-layout-footer>
  </a-layout>
</template>

<script>
export default {
  props: {
    'active': {
      type: String,
      default: 'jobs'
    }
  },
  data () {
    return {
      actives: [this.active]
    }
  },
  methods: {
    onMenuClicked ({key}) {
      this.$router.push(`/community-job/${key}`)
    }
  }
}
</script>

<style>
.btm-menu .ant-menu-item {
  border-top: 2px solid #efefef;
  border-bottom: 0 !important
}

.btm-menu .ant-menu-item-selected {
  border-top: 2px solid #1890ff !important;
  background-color: #1890ff22;
}
</style>

