<template>
  <canvas id="cvsVerfCode" :width="width" :height="height" @click="onClicked"/>
</template>

<script>
import utils from '../commons/utils'
export default {
  props: {
    'width': String,
    'height': String,
    'diff': {
      validator: (value) => ['high', 'mid', 'low'].indexOf(value) !== -1,
      default: 'mid'
    },
    'onRefresh': {
      type: Function,
      default: null
    }
  },
  data () {
    return {
      cvsWid: 0,
      cvsHgt: 0,
      cdInfo: {
        code: '', colors: []
      },
      diffMapper: {
        'low': 0.9,
        'mid': 0.6,
        'high': 0.3
      }
    }
  },
  beforeCreate () {
    this.letters = []
    for (let i = 48; i <= 57; ++i) {
      this.letters.push(String.fromCharCode(i))
    }
    for (let i = 65; i <= 90; ++i) {
      this.letters.push(String.fromCharCode(i))
    }
    for (let i = 97; i <= 122; ++i) {
      this.letters.push(String.fromCharCode(i))
    }
  },
  async created () {
    this.cvsWid = parseInt(this.width),
    this.cvsHgt = parseInt(this.height)
    await utils.waitFor('#cvsVerfCode', $ele => $ele.length && $ele.width())
    this.refresh()
  },
  methods: {
    refresh () {
      const context = document.getElementById('cvsVerfCode').getContext('2d')
      context.fillStyle = 'white'
      context.fillRect(0, 0, this.cvsWid, this.cvsHgt)
      this.cdInfo = {
        code: '', colors: []
      }
      for (let i = 0; i < 5; ++i) {
        const letter = this.genRandText()
        this.cdInfo.code += letter.letter
        this.cdInfo.colors.push(letter.color)
      }
      this.drawText(context, this.cdInfo, {
        left: 0, top: 0,
        width: this.cvsWid,
        height: this.cvsHgt
      })
      const imgData = context.getImageData(0, 0, this.cvsWid, this.cvsHgt)
      for (let i = 0; i < (imgData.width * imgData.height) << 2; i += 3) {
        if (this.notBackColor({
          r: imgData.data[i],
          g: imgData.data[i + 1],
          b: imgData.data[i + 2]
        })) {
          continue
        } else if (Math.random() > this.diffMapper[this.diff]) {
          imgData.data[i] = Math.random() * 255
          imgData.data[i + 1] = Math.random() * 255
          imgData.data[i + 2] = Math.random() * 255
        }
      }
      context.putImageData(imgData, 0, 0)
    },
    drawText (context, txtInfo, rect) {
      const wdWid = rect.width / txtInfo.code.length
      for (let i = 0; i < txtInfo.code.length; ++i) {
        const fontSz = Math.min(wdWid, rect.height)
        const color = txtInfo.colors[i]
        // context.fillStyle = `rgb(${255 - color.r}, ${255 - color.g}, ${255 - color.b})`
        // context.fillRect(wdWid * i, rect.top, wdWid, rect.height)
        context.fillStyle = `rgb(${color.r}, ${color.g}, ${color.b})`
        context.font = `bold ${fontSz}px Arial`
        const txtRect = context.measureText(txtInfo.code[i])
        context.fillText(txtInfo.code[i],
          (wdWid * i) + (wdWid >> 1) - (txtRect.width >> 1),
          rect.top + (rect.height >> 1) + (fontSz >> 1)
        )
      }
    },
    genRandText () {
      return {
        letter: this.letters[
          parseInt(Math.random() * this.letters.length)
        ],
        color: {
          r: Math.random() * 200,
          g: Math.random() * 200,
          b: Math.random() * 200
        }
      }
    },
    colorEquals (colA, colB) {
      return Math.abs(colA.r - colB.r) < 100
        && Math.abs(colA.g - colB.g) < 100
        && Math.abs(colA.b - colB.b) < 100
    },
    notBackColor (color) {
      return !(color.r > 200 && color.g > 200 && color.b > 200)
    },
    onClicked (e) {
      e.preventDefault()
      this.refresh()
      this.onRefresh && this.onRefresh()
    }
  }
}
</script>
